Repository jdColonia/portfolio: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

chore(config): setup husky git hooks
  .husky/commit-msg
  .husky/pre-commit
Due: none

chore(config): add vscode settings and extensions
  .vscode/extensions.json
  .vscode/settings.json
Due: prettier --write

ci(release): add semantic-release configuration
  .releaserc
Due: none

ci(release): add automated release workflow
  .github/workflows/release.yml
Due: prettier --write

ci(deploy): add automated deployment to github pages
  .github/workflows/deploy.yml
Due: prettier --write

chore(config): migrate ESLint configuration to eslint.config.js and remove legacy files
  .eslintignore
  .eslintrc.json
  eslint.config.js
Due: eslint --fix, prettier --write

chore(config): add astro and typescript configuration
  astro.config.mjs
  src/env.d.ts
  tsconfig.json
Due: eslint --fix, prettier --write

chore(config): add tailwind css configuration
  tailwind.config.mjs
Due: none

feat(config): add site configuration and data
  src/config.ts
Due: eslint --fix, prettier --write

feat(cv): add CVs and include favicon, logo, personal image, and project placeholder images
  public/CV-JUAN-DAVID-COLONIA-ALDANA-EN.pdf
  public/CV-JUAN-DAVID-COLONIA-ALDANA-ES.pdf
  public/favicon.svg
  public/logo.svg
  public/me.png
  public/projects/project1.webp
Due: none

feat(components): add icon components
  src/components/icons/Briefcase.astro
  src/components/icons/Code.astro
  src/components/icons/Download.astro
  src/components/icons/GitHub.astro
  src/components/icons/Link.astro
  src/components/icons/LinkedIn.astro
  src/components/icons/Mail.astro
  src/components/icons/Medium.astro
  src/components/icons/User.astro
Due: eslint --fix, prettier --write

feat(i18n): add internationalization support for spanish and english
  src/i18n/ui.ts
  src/i18n/utils.ts
Due: eslint --fix, prettier --write

feat(layout): add main layout with header, sidebars and footer
  src/layouts/Layout.astro
Due: eslint --fix, prettier --write

feat(cv): create CV and index pages for English and Spanish versions
  src/pages/cv.astro
  src/pages/en/cv.astro
  src/pages/en/index.astro
  src/pages/index.astro
Due: eslint --fix, prettier --write

feat(components): add base ui components
  src/components/Badge.astro
  src/components/LinkButton.astro
  src/components/SectionContainer.astro
  src/components/SocialPill.astro
  src/components/TitleSection.astro
Due: eslint --fix, prettier --write

feat(components): add language picker for i18n
  src/components/LanguagePicker.astro
Due: eslint --fix, prettier --write

feat(components): implement header, footer, email sidebar, and social sidebar components
  src/components/EmailSidebar.astro
  src/components/Footer.astro
  src/components/Header.astro
  src/components/SocialSidebar.astro
Due: eslint --fix, prettier --write

feat(sections): add hero section with introduction
  src/components/Hero.astro
Due: eslint --fix, prettier --write

feat(sections): add contact form
  src/components/Contact.astro
Due: eslint --fix, prettier --write

feat(sections): add about me section with skills and education
  src/components/AboutMe.astro
Due: eslint --fix, prettier --write

feat(sections): add work experience section with interactive tabs
  src/components/Experience.astro
Due: eslint --fix, prettier --write

feat(sections): add featured projects section with examples
  src/components/Projects.astro
Due: eslint --fix, prettier --write

docs(CONTRIBUTING): add contribution guidelines and commit message format
  CONTRIBUTING.md
Due: prettier --write

docs(README): add initial portfolio documentation with features, tech stack, and setup instructions
  README.md
Due: prettier --write

feat(config): update site configuration and base path for deployment; refactor navigation links
  astro.config.mjs
  src/components/Experience.astro
  src/components/Header.astro
  src/components/LanguagePicker.astro
Due: eslint --fix, prettier --write

fix(nav): update navigation links to use normalized base path
  src/components/AboutMe.astro
  src/components/Header.astro
  src/components/Hero.astro
  src/components/LanguagePicker.astro
  src/config.ts
  src/i18n/ui.ts
  src/pages/cv.astro
  src/pages/en/cv.astro
Due: eslint --fix, prettier --write

feat(layout): integrate Google Analytics tracking script for improved site analytics
  src/layouts/Layout.astro
Due: eslint --fix, prettier --write

fix(layout): update Google Analytics script to use inline attribute for improved performance
  src/layouts/Layout.astro
Due: eslint --fix, prettier --write

fix: update CV files; add new project image files
  public/CV-JUAN-DAVID-COLONIA-ALDANA-EN.pdf
  public/CV-JUAN-DAVID-COLONIA-ALDANA-ES.pdf
  public/me.png
  public/projects/project1.webp
  public/projects/project2.webp
Due: none

feat(projects): update project details and add new entries for MicroTodoSuite and EcommerceCoZam
  src/components/Projects.astro
Due: eslint --fix, prettier --write

fix(header): temporarily disable LanguagePicker component and related elements
  src/components/Header.astro
Due: eslint --fix, prettier --write

fix(projects): update project image paths to use normalized base URL
  src/components/Projects.astro
Due: eslint --fix, prettier --write

fix(layout): update favicon URL to use normalized base URL
  src/layouts/Layout.astro
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx,astro}
  prettier --write: (any of: *.{js,jsx,ts,tsx,astro}) or (any of: *.{json,md,yml,yaml})
